<h1>Photo Details</h1>

<p>Image</p>

<p>Caption</p>

<p>Owner</p>

<p>Posted</p>

<p>Edit photo</p>

<p>Delete photo</p>

<h2>Comments</h2>

<table>
  <tr>
    <th>
      Commenter
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>

<%@photo.comments.each do |comment|%>
    <tr>
      <td>
        <%=comment.commenter.username%>
      </td>

      <td>
        <%=comment.body%>
      </td>

      <td>
        <%=comment.created_at%>
      </td>
    </tr>
<%end%>
